/* NotFound.module.css */

.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.not-found-title {
  font-size: 5rem;
  color: #ff5555;
  margin-bottom: 1rem;
}

.not-found-text {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.not-found-button {
  padding: 1rem 2rem;
  background-color: #ff5555;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
